@import '../../../../assets/scss/colors.scss';
$ticker-speed: 80s;

@keyframes ticker {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-100%, 0, 0); }
  }
  .tcontainer{
    width: 100%;
    overflow: hidden;
  }
  .ticker-wrap {
    width: 100%;
    padding-left: 100%;
    //background-color: #eee;
    background-color: #222222;
    background: #2B343A;
   // border: 2px solid $title-text;
    border-radius: 2px;
    -webkit-box-shadow: 0px 7px 31px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 7px 31px -2px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    padding: 3px;
}
  .ticker-move {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: $ticker-speed;
    &:hover{
        animation-play-state: paused;
      }
  }
  .ticker-item{
    display: inline-block;
    padding: 0 2rem;
    .title {
        font-weight: bold;
        margin-right: 3px;
        font-size: 16px;
        color: $title-text;

    }
    .desc {
        color: #fff;
        font-style: italic;
    }

  }