<div class="tcontainer">
    <div class="ticker-wrap">
      <div class="ticker-move">
        <div class="ticker-item" *ngFor="let specialization of specializations">
            <span class="title">{{specialization.title}}: </span>
            <span class="desc">{{specialization.desc}}</span>
        </div>
      </div>
    </div>
  </div>