<div class="page-container page-container--about-me" [ngClass]="{'is-handset-layout': isHandsetLayout}">
    <div class="page-left">
        <h1 class="page-title" kbDevAnimatedChars>About Me</h1>
        <div class="about-me--text">
            <p>I am a Software Engineer specializing in User Interface development. I enjoy build beautiful and user friendly interfaces.</p>
            <p>A fast learner with strong analytical and problem-solving skills and  high attention to details. Capable of working independently or as a part of a team.</p>
            <p>I like watching tv/movies, listening to music and coding.</p>
        </div>
    </div>
    <div class="page-right">
        <kb-dev-cube-of-tech></kb-dev-cube-of-tech>
        <!-- <kb-dev-ticker-of-tech></kb-dev-ticker-of-tech> -->
    </div>
</div>