.page-container--about-me {
    display: flex;
    padding: 12px;
    height: 100%;
    &.is-handset-layout {
      flex-direction: column;

    }

    .page-left {
        flex-basis: 40%;
        display: flex;
        flex-direction: column;
        color: #fff;
        height: 100%;
        padding-top: 10%;

        .about-me--text {
            font-size: 14px;
        }


    }

    .page-right {
        flex-basis: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}