@import '../../../assets/scss/responsive.scss';

:host {
    display: block;
}


    .loader-container {
        height: 100vh;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/escheresque_ste.png');
        z-index: 100;

        svg {
            position: absolute;
          }
          
          circle:nth-of-type(1) { fill: #ffffff; }
          circle:nth-of-type(2) { fill:#840037; }
          circle:nth-of-type(3) { fill: #FDB731; }
          circle:nth-of-type(4) { fill: #BD0034; }

          #title {
            display: block;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);  
          }
          
          #clackers {
          /*   border: 1px solid white; */
            display: block;
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
    
}


  
 