a.icon-btn {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background: #171515;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
    cursor: pointer;
    i {
        outline: none;
    }
  
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: $title-text;
      transition: .5s;
      transform: scale(0.9);
      z-index: -1;
    }
  
    &.disabled {
        cursor: not-allowed;
        opacity: 0.4;
    }

    &:hover:not(.disabled) {
      &:before {
        transform: scale(1.2);
        box-shadow: 0 0 15px $title-text;
        filter: blur(3px);
      }
  
      color: #ffa502;
      box-shadow: 0 0 15px $title-text;
      text-shadow: 0 0 15px $title-text;
    }

    
  }