@import '../../../assets/scss/colors.scss';
$peeled-text-color: #222;

.page-container--projects {
    display: flex;
    align-items: center;
    justify-content: center;
    .page-container--projects__left {
        flex-basis: 70%;

        .projects-viewport {
            height: 600px;
            width: 100%;
    
            .project-item {
                height: 500px;
                margin: 24px;
                //border: 4px solid #ffc300;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                .project-item__footer {
                    flex-basis: 15%;
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                }
            }
        }
    }
    .page-container--projects__right {
        flex-basis: 30%;
        //border-left: 5px solid $title-text;
        height: 100vh;
        background-color: $peeled-text-color;
        padding: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        overflow-y: scroll;

        p {
            color: #fff;
            font-family: Avenir Next, Helvetica Neue, Helvetica, Tahoma, sans-serif;
            font-size: 1em;
            font-weight: 700;
            &:nth-child(odd) {
               // align-self: flex-end;
            }

          
            span {
              display: inline-block;
              position: relative;
              -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
              -webkit-perspective: 500;
              perspective: 500;
              -webkit-font-smoothing: antialiased;
          
              &::before, &::after {
                display: none;
                position: absolute;
                top: 0;
                left: -1px;
                -webkit-transform-origin: left top;
                transform-origin: left top;
                -webkit-transition: all ease-out 0.3s;
                transition: all ease-out 0.3s;
                content: attr(data-text);
              }
          
              &::before {
                z-index: 1;
                color: rgba(0, 0, 0, 0.2);
                -webkit-transform: scale(1.1, 1) skew(0deg, 20deg);
                transform: scale(1.1, 1) skew(0deg, 20deg);
              }
          
              &::after {
                z-index: 2;
                color: $peeled-text-color;
                text-shadow: -1px 0 1px $peeled-text-color, 1px 0 1px rgba(0, 0, 0, 0.8);
                -webkit-transform: rotateY(-40deg);
                transform: rotateY(-40deg);
              }
          
              &:hover {
                &::before {
                  -webkit-transform: scale(1.1, 1) skew(0deg, 5deg);
                  transform: scale(1.1, 1) skew(0deg, 5deg);
                }
          
                &::after {
                  -webkit-transform: rotateY(-10deg);
                  transform: rotateY(-10deg);
                }
              }
          
              + span {
                margin-left: 0.3em;
              }
            }
          }
          
          @media (min-width: 20em) {
            p {
              font-size: 2em;
          
              span {
                &::before, &::after {
                  display: block;
                }
              }
            }
          }
          
          @media (min-width: 30em) {
            p {
              font-size: 3em;
            }
          }
          
          @media (min-width: 40em) {
            p {
              font-size: 5em;
            }
          }
          
          @media (min-width: 60em) {
            p {
              font-size: 3em;
            }
          }
    }
}