<div class="page-container page-container--projects">
    <div class="page-container--projects__left">
        <h1 class="page-title">Projects and Labs</h1>
        <cdk-virtual-scroll-viewport itemSize="500" class="projects-viewport">
            <div *cdkVirtualFor="let project of projects" class="project-item">
                <kb-dev-parallax-card [project]="project"></kb-dev-parallax-card>
                <div class="project-item__footer">
                    <a href="#" class="icon-btn"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="#" class="icon-btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                </div>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>
    <div class="page-container--projects__right">
        <p *ngFor="let skill of skills" class="peeled-text" kbDevPeeledText >{{skill}}</p>

    </div>
</div>