<div class="app-container">
  <kb-dev-toggle-nav [isHandsetLayout]="isHandsetLayout" [isLoading]="isLoading"></kb-dev-toggle-nav>
  <div class="content">
    <kb-dev-loader *ngIf="isLoading"></kb-dev-loader>
    <router-outlet ></router-outlet>
  </div>
</div>