@import '../../../assets/scss/colors.scss';

.app-container {
    width: 100vw;
    height: 100vh;

    .content {
        display: block;
        min-height:100%;
        height:100%;
        background:white;
        position:relative;
        z-index:0;
    }
}


  
  