@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');
$hamburger-color: #fff;

.hamburger-menu {
  display: inline-block;
  position: absolute;
  width: 56px;
  top: 4%;
  right: 0;
  transform: translate(-50%, -50%);
  font-size: 62px;
  font-family:'Josefin Sans', sans-serif;
  color: $hamburger-color;
  z-index: 10;
  cursor: pointer;
}
.hamburger-menu::before,
.hamburger-menu::after {
  position: absolute;
  transition: 0.4s ease;
  opacity: 0;
  pointer-events: none;
}
.hamburger-menu:before {
  content: "M \00a0 \00a0 \00a0 \00a0 \00a0U";
  top: -60px;
  left: -100%;
  width: 215px;
}
.hamburger-menu:after {
  content: "N";
  top: 50px;
  left: 96%;
}
.hamburger-menu:hover::before,
.hamburger-menu:hover::after {
  top: 18.7px;
  opacity: 1;
  transition: 0.2s ease, opacity 0.17s 0.03s ease-in;
}

.bar {
  width: 80%;
  height: 3px;
  background: $hamburger-color;
  margin: 0 auto 18px;
  transition: transform 0.4s ease;
}

.hamburger-menu:hover .bar {
  transform: rotate(-10deg);
}