<div class="btn_wrap">
    <span>Connect</span>
    <div class="container">
        <i class="fa fa-linkedin fa-2x"></i>
        <i class="fa fa-github fa-2x"></i>
        <i class="fa fa-envelope fa-2x"></i>
    </div>
</div>