@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import "../../../../assets/scss/colors.scss";


.btn_wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  width: 200px;
  height: 72px;
  background-color:#000; //#1f1e1e; //#eeeeed;
  border-radius: 80px;
  padding: 0 18px;
  will-change: transform;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  &:hover {
    /* transition-delay: .4s; */
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    span {
      -webkit-transition-delay: 0.25s;
      transition-delay: 0.25s;
      -webkit-transform: translateX(-280px);
      transform: translateX(-280px);
    }
    i {
      opacity: 1 !important;
      transform: scale(1) !important;
      -webkit-transform: scale(1) !important;
      -moz-transform: scale(1) !important;
      -ms-transform: scale(1) !important;
      -o-transform: scale(1) !important;
}
  }
  span {
    position: absolute;
    z-index: 99;
    width: 280px;
    height: 72px;
    border-radius: 80px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 70px;
    letter-spacing: 2px;
    color: #000; // #EEEEED;
    background-color: $title-text; // #1F1E1E;
    padding: 0 18px;
    -webkit-transition: all 1.2s ease;
    transition: all 1.2s ease;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 200px;
    height: 64px;
    border-radius: 80px;
    i {
      opacity: 0;
      font-size: 28px;
      color: $title-text; //#fff !important; // #1f1e1e;
      will-change: transform;
      -webkit-transform: scale(0.1);
      transform: scale(0.1);
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      &:nth-of-type(1) {
        -webkit-transition-delay: 1.1s;
        transition-delay: 1.1s;
      }
      &:nth-of-type(2) {
        -webkit-transition-delay: 0.9s;
        transition-delay: 0.9s;
      }
      &:nth-of-type(3) {
        -webkit-transition-delay: 0.7s;
        transition-delay: 0.7s;
      }
      &:nth-of-type(4) {
        -webkit-transition-delay: 0.4s;
        transition-delay: 0.4s;
      }
    }
  }
}
