@import '../../../assets/scss/responsive.scss';

:host {
    display: block;
}

%animated-name-responsive {
  font-size: 200px;
  @include mq($from: wide) {
      font-size: 200px;
  }
  @include mq(tablet, desktop) {
      font-size: 150px;
  }
  @include mq($until: tablet) {
      font-size: 100px;
  }
}


    .splash-page {
        height: 100vh;
       // background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/escheresque_ste.png');
        .animated-name {
          display: flex;
          justify-content: center;
          svg {
              display: block;
              font-style: 'Montserrat';
              @extend %animated-name-responsive;
              width: 960px;
              height: 300px;
              margin: 0 auto;
          }
          
          .text-copy {
              fill: none;
              stroke: white;
              stroke-dasharray: 6% 29%;
              stroke-width: 5px;
              stroke-dashoffset: 0%;
              animation: stroke-offset 5.5s infinite linear;
          }
          
          .text-copy:nth-child(1){
              stroke: #4D163D;
              animation-delay: -1;
          }
          
          .text-copy:nth-child(2){
              stroke: #840037;
              animation-delay: -2s;
          }
          
          .text-copy:nth-child(3){
              stroke: #BD0034;
              animation-delay: -3s;
          }
          
          .text-copy:nth-child(4){
              stroke: #BD0034;
              animation-delay: -4s;
          }
          
          .text-copy:nth-child(5){
              stroke: #FDB731;
              animation-delay: -5s;
          }
          
          @keyframes stroke-offset{
              100% {stroke-dashoffset: -35%;}
          }
      }

        svg {
            position: absolute;
          }
          
          circle:nth-of-type(1) { fill: #ffffff; }
          circle:nth-of-type(2) { fill:#840037; }
          circle:nth-of-type(3) { fill: #FDB731; }
          circle:nth-of-type(4) { fill: #BD0034; }

          #title {
            display: block;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);  
          }
          
          #clackers {
          /*   border: 1px solid white; */
            display: block;
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
    
}


  
 