@import '../../../assets/scss/responsive.scss';
@import '../../../assets/scss/colors.scss';
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');



.page-container--home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    .introducing {
        font-size: 58px;
        font-weight: bold;
        color: #fff;
        margin-bottom: 24px;
    }
}


.d3 {
    margin: 0.5em;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 5.5em;
    color: $title-text;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 0.03em;
    text-shadow: -0.02em 0 0 #F22613,  0.02em 0 0 #00FFFF;
  }





//color/ui color variables
$white: #ececec;
$black: #333333;
// $yellow: #ffff00;
$purple: #ffc300;
$colorPrimary: $title-text;
$colorSecondary: $purple;

//split button mixin
@mixin btn__split($colorLeft, $colorRight, $textColor) {
	.btn {
		position: relative;
		letter-spacing: 0.25em;
		margin: 0 auto;
		padding: 1rem 2.5rem;
		background: transparent;
		outline: none;
		font-size: 28px;
		color: $textColor;

		&::after,
		&::before {
			content: "";
			position: absolute;
			height: 100%;
			width: 50%;
			transform: skewX(30deg);
			transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
			z-index: -2;
		}
		&::before {
			background-color: $colorLeft;
			top: -1rem;
			left: 0rem;
		}
		&::after {
			background-color: $colorRight;
			top: 1rem;
			left: 8rem;
		}
		&:hover {
			&::before,
			&::after {
				top: 0;
				transform: skewx(0deg);
			}
			&::after {
				left: 0rem;
			}
			&::before {
				left: 8.75rem;
			}
		}
	}
}

.contact-me-cta {
    margin-top: 60px;
    margin-left: 20px;
    a {
        cursor: pointer;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        font-family: "Lato", sans-serif;
    }
}


@include btn__split($colorPrimary, $colorSecondary, $black);
