<div class="page-container page-container--home" [ngClass]="{'is-handset-layout': isHandsetLayout}">
    <div class="introducing">
        Hi, I am
    </div>
    <h1 class="d3">KEMAR BELL</h1>
    <svg width="600" height="30" id="title">
        <text x="70" y="20" fill="#ffffff" font-family="Helvetica Neue,Helvetica,Arial" font-size="24"
            text-anchor="start">
            U S E R . I N T E R F A C E . D E V E L O P E R
        </text>
    </svg>

    <div class="contact-me-cta" >
        <a class="btn" (click)="navigateTo('contact')">Contact Me</a>
    </div>
    
</div>