<form class="contact-form__mail" [formGroup]="contactForm">

  <div class="container">
    <section class="content" *ngIf="!showSuccess">
      <span class="input input-1 input--jiro" *ngIf="isStepActive(formStep.NAME)">
        <div class='input-wrapper animated' [ngClass]="isStepActive(formStep.NAME) ? 'bounceInDown' : 'bounceOutDown'">
          <input formControlName="name" placeholder="Your name goes here" id="nameInput" />
        </div>
      </span>

      <span class="input input-2 input--jiro" *ngIf="isStepActive(formStep.EMAIL)">
        <div class='input-wrapper  animated' [ngClass]="isStepActive(formStep.EMAIL) ? 'bounceInDown' : 'bounceOutDown'">
          <input formControlName="email" type="email" placeholder="Your Email goes here" id="emailInput" />
        </div>
      </span>

      <span class="input input-3 input--jiro" *ngIf="isStepActive(formStep.MESSAGE)">
        <div class='input-wrapper animated' [ngClass]="isStepActive(formStep.MESSAGE) ? 'bounceInDown' : 'bounceOutDown'">
          <textarea formControlName="message" placeholder="Now that message" id="messageInput"></textarea>
          <a class="icon-btn disabled" title="next button" (click)="onSubmit()" [ngClass]="{'disabled': contactForm.invalid}">
            <i class="material-icons">send</i>
          </a>
        </div>
      </span>
    </section>
    <section class="content success animated rotateInDownLeft" *ngIf="showSuccess">
      <span class="sent">Message Sent <img src="assets/img/icons8-sent_filled.png" alt="previous"></span>
      <span class="thanks">Thank You! I will respond to your mess a soon as possible</span>
    </section>
    <div class="form-footer">
      <a class="icon-btn" title="previous button" (click)="goToStep(formStep.NAME)" [ngClass]="{'disabled': !isStepEnabled(formStep.NAME)}">
        <i class="material-icons">perm_identity</i>
      </a>
      <a class="icon-btn disabled" title="next button" (click)="goToStep(formStep.EMAIL)" [ngClass]="{'disabled': !isStepEnabled(formStep.EMAIL)}">
        <i class="material-icons">alternate_email</i>
      </a>
      <a class="icon-btn disabled" title="next button" (click)="goToStep(formStep.MESSAGE)" [ngClass]="{'disabled': !isStepEnabled(formStep.MESSAGE)}">
        <i class="material-icons">message</i>
      </a>
    </div>
  </div>
</form>