<form class="contact-form__mail" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

  <div class="container">
    <section class="content" *ngIf="!showSuccess">
      <span class="input input-1 input--jiro" *ngIf="activeField == 'name'">
        <div class='input-wrapper animated'
          [ngClass]="{'bounceInDown': activeField == 'name', 'bounceOutDown': activeField != 'name'}">
          <input formControlName="name" placeholder="Your name goes here" id="nameInput" />
        </div>
        <a class="icon-btn" [ngClass]="{'disabled' : !contactForm.controls['name'].valid }" title="next button"
          (click)="activeField = 'email'"><i class="fa fa-envelope"></i></a>

      </span>

      <span class="input input-2 input--jiro" *ngIf="activeField == 'email'">
        <a class="icon-btn" title="previous button" (click)="activeField = 'name'"><i class="fa fa-user"></i></a>

        <div class='input-wrapper  animated'
          [ngClass]="{'bounceInDown': activeField == 'email', 'bounceOutDown': activeField != 'email'}">
          <input formControlName="email" type="email" placeholder="Your Email goes here" id="emailInput" />
        </div>
        <a class="icon-btn" [ngClass]="{'disabled' : !contactForm.controls['email'].valid }" title="next button"
          (click)="activeField = 'message'"><i class="far fa-comment-alt"></i></a>
      </span>

      <span class="input input-3 input--jiro" *ngIf="activeField == 'message'">
        <a class="icon-btn" title="previous button" (click)="activeField = 'email'"><i class="fa fa-envelope"></i></a>
        <div class='input-wrapper animated'
          [ngClass]="{'bounceInDown': activeField == 'message', 'bounceOutDown': activeField != 'message'}">
          <textarea formControlName="message" placeholder="Now that message" id="messageInput"></textarea>
        </div>
        <a class="icon-btn" [ngClass]="{'disabled' : contactForm.invalid }" title="next button"
          ><i class="fa fa-fighter-jet"></i></a>
      </span>
    </section>
    <section class="content success animated rotateInDownLeft" *ngIf="showSuccess">
      <span class="sent">Message Sent <img src="assets/img/icons8-sent_filled.png" alt="previous"></span>
      <span class="thanks">Thank You! I will respond to your message a soon as possible</span>
    </section>
  </div>
</form>