// @import "input_1.scss";
@import "../../../../assets/scss/colors.scss";

$input-font-size: 25px;
$input-line-height: 70px;
$font-family: Roboto Slab,
sans-serif;


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 300px;
  box-shadow: 0px 7px 31px -2px $title-text;

  .content {
    flex-basis: 90%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    .input {
      display: flex;
      justify-content: center;
      align-items: center;

      .input-wrapper {
        position: relative;
        width: 500px;
        margin: 50px auto;

        input,
        textarea {
          height: 60px;
          width: 100%;
          min-width: 100%;
          padding: 0;
          border-radius: 0;
          line-height: $input-line-height;
          background-color: transparent;
          color: $title-text !important;
          font-size: $input-font-size;
          border: none;
          outline: none;
          border-bottom: 3px solid #333333;
          font-family: $font-family;
        }
        textarea {
          height: 200px;
          line-height: normal;
        }
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          margin: 12px;
          float: right;
          .fa {
            font-size: 20px;
          }
        }
      }
    }

    &.success {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
      font-size: 2rem;
      color: #ffc300;
      height: 100%;
      line-height: 1.3;
      margin-left: 5px;
      .thanks {
        font-size: 2rem;
        color: #fff;
        z-index: 420;
      }
    }
  }
  .form-footer {
    flex-basis: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      .fa {
        font-size: 18px;
      }
    }
  }
}