@import '../../../assets/scss/colors.scss';

.button-container {
    .button {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        background-color: $title-text;
        padding: 30px 60px;
        border-radius: 0px;
        font-weight: 800;
        font-size: 24px;
        font-family: sans-serif;
        text-transform: uppercase;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
        &#sendBtn {
            padding: 15px 30px;
 
        }
        &#code, &#liveDemo {
            padding: 10px 20px;
        }
}
}