
@import '../../../../assets/scss/colors.scss';

$animationSpeed: 40s;

@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}


// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.ticker {
	// background: $title-text;
	// box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 60%;
	&::before,
	&::after {
		// @include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.ticker-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 6);
	}
	
	.ticker__slide {
		height: 100px;
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            font-size: 50px;
        }
	}
}