

<div class="ticker">
	<div class="ticker-track">
		<div class="ticker__slide">
            <i class="devicon-angularjs-plain colored"></i>
		</div>
		<div class="ticker__slide">
            <i class="devicon-react-original-wordmark  colored"></i>
		</div>
		<div class="ticker__slide">
            <i class="devicon-d3js-plain colored"></i>
		</div>
		<div class="ticker__slide">
            <i class="devicon-nodejs-plain-wordmark colored"></i>
		</div>
		<div class="ticker__slide">
            <i class="devicon-html5-plain-wordmark colored"></i>
		</div>
		<div class="ticker__slide">
            <i class="devicon-sass-original  colored"></i>
		</div>
	</div>
</div>