@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import '../../../../assets/scss/colors.scss';

h2,
#note {
  margin: 0;
}

#timeline {
  background: $main-bg;
  color: $title-text;

  margin-top: 480px;
  padding: 0;
  border-top: 8px solid $title-text;
  list-style: none;
  display: flex;
  li:not(.skill) {
    padding-top: 30px;
    position: relative;
    flex: 1;
    transition: all 0.4s ease-in-out;
    &:hover {
      padding-bottom: 80px;
      flex: 2;
      label {
        opacity: 1;
        transform: translateY(10px);
      }
    }
  }
}

label {
  max-width: 200px;
  margin: 0 auto;
  padding: 5px 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #231f20;
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;

  cursor: pointer;
  opacity: 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  background: #231f20;
  border: 2px solid $title-text;
  color: #000 !important;
  background-color: $title-text;
  box-shadow: 0px 7px 31px -2px rgba(0, 0, 0, 0.75);
  &:before,
  &:after {
    content: "";
    width: 0;
    height: 0;
    border: solid transparent;
    position: absolute;
    bottom: 100%;
    pointer-events: none;
  }
  &:before {
    border-bottom-color: $title-text !important;
    border-width: 15px;
    left: 52%;
    margin-left: -15px;
  }
  &:after {
    border-bottom-color: transparent;
    border-width: 12px;
    left: 52%;
    margin-left: -12px;
  }
  span {
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
  }
}

.date {
  width: 100%;
  padding-bottom: 30px;
  text-align: center;
  position: absolute;
  top: -60px;
  display: block;
}

.circle {
  width: 10px;
  height: 10px;
  margin-left: -5px;
  background: #231f20;

  border: 5px solid $title-text;
  border-radius: 50%;
  position: absolute;
  top: -14px;
  left: 50%;
}

.timeline-content {
  width: 800px;
  height: 240px;
  margin: 0 auto;
  border: 2px solid $title-text !important;
  border-radius: 8px;
  position: fixed;
  top: 200px;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #222222;

  border-radius: 10px;
  box-shadow: 0px 7px 31px -2px rgba(0, 0, 0, 0.75);
  // transform: perspective(1000px) rotateY(20deg);
  animation: switching_back 0.8s;
  h3,
  p {
    margin: 0 20px 10px;
    text-align: justify;
    opacity: 0;
  }
  h3.org {
    margin-top: 20px;
    font-size: 22px;
  }
  .title_duration {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    background: #2b343a;
    padding: 5px 10px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    span.title {
      font-size: 18px;
      i {
        margin-right: 5px;
      }
    }
    span.duration {
      font-size: 15px !important;
      i {
        margin-right: 5px;
      }
    }
  }
  .description {
    margin: 5px;
  }
  .content__skills {
    font-size: 12px;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    li.skill {
      background: #40484d;
      border-radius: 2px;
      display: inline-block;
      padding: 2px 10px;
      color: rgba(255, 255, 255, 0.7);
      margin: 3px 2px;
      text-align: center;
      // flex-grow: 1;
    }
  }
}

.radio {
  display: none;
  &:checked {
    + label {
      opacity: 1;
      transform: translateY(10px);
      transition: opacity 0.4s ease-in-out 0.25s,
        transform 0.3s ease-in-out 0.25s;
    }
    ~ {
      .circle {
        background: #f98262;
      }
      .timeline-content {
        z-index: 999;
        transform: translate(40px, 25px);
        animation: switching 1s ease;
        h3,
        p {
          opacity: 1;
          transition: opacity 0.4s ease-in-out 0.4s;
        }
      }
    }
  }
}

@keyframes switching {
  0% {
    // transform: rotateY(20deg);
  }

  40% {
    transform: translate(100px, 35px);
  }

  100% {
    transform: translate(40px, 25px);
  }
}

@keyframes switching_back {
  0% {
    transform: translate(40px, 25px);
    z-index: 200;
  }

  40% {
    transform: translate(0px, 0px) scale(1.08);
  }

  100% {
    // transform:  rotateY(20deg);
    z-index: 100;
  }
}
