<ul id='timeline'>
  <li class='entry' *ngFor="let exp of experiences; let i = index;">
    <input checked='checked' class='radio' [attr.id]="exp!.id" name='trigger' type='radio'>
    <label [attr.for]="exp!.id">
      <span>
        {{exp!.org!.shortName}}
      </span>
    </label>
    <span class='date'>{{exp.duration.start}}</span>
    <span class='circle'></span>
    <div class='timeline-content'>
      <h3 class="org">{{exp!.org!.name}}
        <div class="title_duration">
            <span class="title">
                <i class="fa fa-certificate" aria-hidden="true"></i>
              {{exp!.title}}
            </span>
            <span class="duration">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
              {{exp.duration.start +  ' - ' + exp.duration.end }}
            </span>
        </div>
        <p class="description">
          {{exp!.description}}
        </p>
        <ul class="content__skills">
            <li *ngFor="let skill of exp!.skills" class="skill">{{skill}}</li>
        </ul>
    </h3>
    </div>
  </li>
</ul>
