
body.nav-active {
    .nav__content {
      visibility: visible;
    }
  
    .menu-icon__line {
      background-color: #fff;
      -webkit-transform: translate(0px, 0px) rotate(-45deg);
      transform: translate(0px, 0px) rotate(-45deg);
    }
  
    .menu-icon__line-left {
      width: 15px;
      -webkit-transform: translate(2px, 4px) rotate(45deg);
      transform: translate(2px, 4px) rotate(45deg);
    }
  
    .menu-icon__line-right {
      width: 15px;
      float: right;
      -webkit-transform: translate(-3px, -3.5px) rotate(45deg);
      transform: translate(-3px, -3.5px) rotate(45deg);
    }
  
    .menu-icon:hover {
      .menu-icon__line-left, .menu-icon__line-right {
        width: 15px;
      }
    }
  
    .nav {
      visibility: visible;

      &.nav--mobile {
        &:before, &:after {
          width: 90vw;
          height: 90vh;
        }
        .nav__content {
          width: 90vw;
          height: 81%;
          .nav__list {
              display: flex;
              flex-wrap: wrap;
              height: inherit;
              .nav__list-item {
                flex-basis: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
               
              }
          }
      }
      }
      &:before, &:after {
        width: 250px;
        height: 350px;
        border-radius: 15px;

      }
  
      &:after {  
        -webkit-transition-delay: .1s;
        transition-delay: .1s;
      }
  
      &:before {
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
      }
    }
  
    .nav__list-item {
      opacity: 1;
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      -webkit-transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
      transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
      transition: opacity .3s ease, transform .3s ease, color .3s ease;
      transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease;
  
      &:nth-child(0) {
        -webkit-transition-delay: 0.7s;
        transition-delay: 0.7s;
      }
  
      &:nth-child(1) {
        -webkit-transition-delay: 0.8s;
        transition-delay: 0.8s;
      }
  
      &:nth-child(2) {
        -webkit-transition-delay: 0.9s;
        transition-delay: 0.9s;
      }
  
      &:nth-child(3) {
        -webkit-transition-delay: 1s;
        transition-delay: 1s;
      }
  
      &:nth-child(4) {
        -webkit-transition-delay: 1.1s;
        transition-delay: 1.1s;
      }
  
      &:nth-child(5) {
        -webkit-transition-delay: 1.2s;
        transition-delay: 1.2s;
      }
  
      &:nth-child(6) {
        -webkit-transition-delay: 1.3s;
        transition-delay: 1.3s;
      }
  
      &:nth-child(7) {
        -webkit-transition-delay: 1.4s;
        transition-delay: 1.4s;
      }
  
      &:nth-child(8) {
        -webkit-transition-delay: 1.5s;
        transition-delay: 1.5s;
      }
  
      &:nth-child(9) {
        -webkit-transition-delay: 1.6s;
        transition-delay: 1.6s;
      }
  
      &:nth-child(10) {
        -webkit-transition-delay: 1.7s;
        transition-delay: 1.7s;
      }
    }
  }