<div class="nav-but-wrap"  [ngClass]="{'hidden': isLoading}">
    <div class="menu-icon hover-target">
        <span class="menu-icon__line menu-icon__line-left"></span>
        <span class="menu-icon__line"></span>
        <span class="menu-icon__line menu-icon__line-right"></span>
    </div>
</div>

<div class="nav" [ngClass]="{'nav--mobile': isHandsetLayout}">
    <div class="nav__content">
        <ul class="nav__list">
            <li *ngFor="let item of navItems" class="nav__list-item" (click)="navigateTo(item.path)" routerLink="{{item.path}}"
                routerLinkActive="active-nav">
                <a class="hover-target">{{item.label}}</a>
            </li>
        </ul>
    </div>
</div>


