

/* Please ❤ this if you like it! */


@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import '../../../assets/scss/colors.scss';

a {
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
.nav-but-wrap {
  position: absolute;
  display: inline-block;
  //float: left;
  padding-left: 15px;
  padding-top: 15px;
  margin-top: 26px;
  z-index: 200;
  left: 45px;
  transition: all 0.3s ease-out;
  &.hidden {
    opacity: 0;
  }
}

.menu-icon {
  height: 30px;
  width: 30px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: block;
}

.menu-icon__line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: #fff;
  margin-bottom: 7px;
  cursor: pointer;
  -webkit-transition: background-color .5s ease, -webkit-transform .2s ease;
  transition: background-color .5s ease, -webkit-transform .2s ease;
  transition: transform .2s ease, background-color .5s ease;
  transition: transform .2s ease, background-color .5s ease, -webkit-transform .2s ease;
}

.menu-icon__line-left {
  width: 16.5px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.menu-icon__line-right {
  width: 16.5px;
  float: right;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}

.menu-icon:hover {
  .menu-icon__line-left, .menu-icon__line-right {
    width: 30px;
  }
}

.nav {
  position: fixed;
  z-index: 98;

  &:before {
    content: "";
    position: fixed;
    top: 20px;
    left: 50px;
    width: 0;
    height: 0;
    background-color: rgba(20, 21, 26, 0.6);
    border-bottom-right-radius: 200%;
    z-index: -1;
    transition: border-radius linear 0.8s, width cubic-bezier(0.77, 0, 0.175, 1) 0.6s, height cubic-bezier(0.77, 0, 0.175, 1) 0.6s;
  }

  &:after {
    content: "";
    position: fixed;
    top: 20px;
    left: 50px;
    width: 0;
    height: 0;
    background-color: rgba(20, 21, 26, 0.6);
    border-bottom-right-radius: 200%;
    z-index: -1;
    transition: border-radius linear 0.8s, width cubic-bezier(0.77, 0, 0.175, 1) 0.6s, height cubic-bezier(0.77, 0, 0.175, 1) 0.6s;
    background-color: rgba(9, 9, 12, 1);
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 300%;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    box-shadow: 6px 7px 28px 0 rgba(16, 16, 16, 0.3);
  }

  &:before {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
  }

  
}

.nav__content {
  position: fixed;
  visibility: hidden;
  top: 90px;
  left: 50px;
  width: 280px;
  text-align: left;
}

.nav__list {
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 2;
}

.nav__list-item {
  position: relative;
  display: block;
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
  opacity: 0;
  text-align: left;
  color: #fff;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 2px;
  -webkit-transform: translate(30px, 0%);
  transform: translate(30px, 0%);
  -webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
  transition: opacity .2s ease, -webkit-transform .2s ease;
  transition: opacity .2s ease, transform .2s ease;
  transition: opacity .2s ease, transform .2s ease, -webkit-transform .2s ease;
  margin-top: 7px;
  margin-bottom: 7px;
  outline: none;

  a {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    overflow: hidden;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    z-index: 2;
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;

    &:after {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      width: 5px;
      height: 0;
      opacity: 0;
      background-color: $title-text;
      z-index: 1;
      -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
    }

    &:hover {
      &:after {
        height: 100%;
        opacity: 1;
        top: 0;
      }

      color: rgba(255, 255, 255, 1);
    }
  }

  &.active-nav a {
    color: rgba(255, 255, 255, 1);
    // background: darken(rgba(20, 21, 26, 0.6), 50);
    //padding: 12px;
    border: 5px;
    &:after {
      height: 100%;
      opacity: 1;
      top: 0;
    }
  }
}