<section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block" *ngFor="let exp of experiences?.reverse()">
        <div class="cd-timeline-img cd-picture">
        </div>

        <div class="cd-timeline-content">
            <h2>{{exp?.org?.name}}</h2>
            <div class="timeline-content-info">
                <span class="timeline-content-info-title">
                    <i class="fa fa-certificate" aria-hidden="true"></i>
                    {{exp?.title}}
                </span>
                <span class="timeline-content-info-date">
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                    {{exp?.duration?.start}} - {{exp?.duration?.end}}
                </span>
            </div>
            <p>{{exp?.description}}</p>
            <ul class="content-skills">
                <li *ngFor="let skill of exp?.skills">{{skill}}</li>
            </ul>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
</section> <!-- cd-timeline -->