@import '../../../assets/scss/colors.scss';

.page-container--contact-me {
    display: flex;
    height: 100%;
    .page-title {
        padding: 30px;
    }
    p.text {
        color: $title-text;
        text-align: center;
        font-style: italic;
        font-weight: 300;
    }
    &.is-handset-layout {
        flex-direction: column;
        margin-left: 0;
        .page-left {
            padding: 0;
        }
    }
    .page-left {
        display: flex;
        flex-direction: column;
        color: #fff;
        height: 100%;
        padding: 0 5% 5% 5%;
        flex-basis: 60%;
        kb-dev-social-button {
            position: absolute;
            bottom: 10px;
            left: 10px;

        }
   
    }
    .page-right {
        flex-basis: 40%;
        agm-map {
            height: 100%;
            width: 100%;
        }
    }
    
}

::-webkit-input-placeholder{
    color: $title-text;
  }
  :-moz-placeholder {
    color: $title-text; 
  }
  ::-moz-placeholder{
     color: $title-text;
  }
  :-ms-input-placeholder{  
     color: $title-text;
  }

  

  