<div class="page-container page-container--contact-me" [ngClass]="{'is-handset-layout': isHandsetLayout}">
    <div class="page-left">
        <h1 class="page-title">Contact Me</h1>
        <p class="text">Want to reach out? send me a message below and I will respond as soon as possible.</p>
        <canvas id="canvas"></canvas>
        <kb-dev-contact-me-form></kb-dev-contact-me-form>
        <kb-dev-social-button></kb-dev-social-button>
    </div>
    <div class="page-right">
        <agm-map [latitude]='latitude' [longitude]='longitude' [zoom]="zoom" [backgroundColor]="'#08fdd8'" [styles]="mapStyles">
            <agm-marker [latitude]="latitude" [longitude]="longitude" [label]="'KB'"></agm-marker>
        </agm-map>
     </div>
</div>