@import '../../../../assets/scss/colors.scss';

$cube-size: 240px;

@-webkit-keyframes spincube {

    from,
    to {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }

    16% {
        -webkit-transform: rotateY(-90deg);
    }

    33% {
        -webkit-transform: rotateY(-90deg) rotateZ(90deg);
    }

    50% {
        -webkit-transform: rotateY(-180deg) rotateZ(90deg);
    }

    66% {
        -webkit-transform: rotateY(-270deg) rotateX(90deg);
    }

    83% {
        -webkit-transform: rotateX(90deg);
    }
}

@keyframes spincube {

    from,
    to {
        -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        -o-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }

    16% {
        -moz-transform: rotateY(-90deg);
        -ms-transform: rotateY(-90deg);
        transform: rotateY(-90deg);
    }

    33% {
        -moz-transform: rotateY(-90deg) rotateZ(90deg);
        -ms-transform: rotateY(-90deg) rotateZ(90deg);
        transform: rotateY(-90deg) rotateZ(90deg);
    }

    50% {
        -moz-transform: rotateY(-180deg) rotateZ(90deg);
        -ms-transform: rotateY(-180deg) rotateZ(90deg);
        transform: rotateY(-180deg) rotateZ(90deg);
    }

    66% {
        -moz-transform: rotateY(-270deg) rotateX(90deg);
        -ms-transform: rotateY(-270deg) rotateX(90deg);
        transform: rotateY(-270deg) rotateX(90deg);
    }

    83% {
        -moz-transform: rotateX(90deg);
        -ms-transform: rotateX(90deg);
        transform: rotateX(90deg);
    }
}

.stage {
    width: $cube-size;
    height: $cube-size;

    .cubespinner {
        -webkit-animation-name: spincube;
        -webkit-animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-duration: 12s;

        animation-name: spincube;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 12s;

        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;

        -webkit-transform-origin: 120px 120px 0;
        -moz-transform-origin: 120px 120px 0;
        -ms-transform-origin: 120px 120px 0;
        transform-origin: 120px 120px 0;

        .face {
            position: absolute;
            width: $cube-size;
            height: $cube-size;
            border: 1px solid #ddd;
            background: $title-text;
            //rgba(0,0,0,0.8):;
            box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
            line-height: $cube-size;
            text-align: center;
            font-size: 100px;

            &.face--1 {
                -webkit-transform: translateZ(120px);
                -moz-transform: translateZ(120px);
                -ms-transform: translateZ(120px);
                transform: translateZ(120px);
                -o-transform: translateZ(120px);
            }

            &.face--2 {
                -webkit-transform: rotateY(90deg) translateZ(120px);
                -moz-transform: rotateY(90deg) translateZ(120px);
                -ms-transform: rotateY(90deg) translateZ(120px);
                transform: rotateY(90deg) translateZ(120px);
                -o-transform: rotateY(90deg) translateZ(120px);
            }

            &.face--3 {
                -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(120px);
                -moz-transform: rotateY(90deg) rotateX(90deg) translateZ(120px);
                -ms-transform: rotateY(90deg) rotateX(90deg) translateZ(120px);
                transform: rotateY(90deg) rotateX(90deg) translateZ(120px);
                -o-transform: rotateY(90deg) rotateX(90deg) translateZ(120px);
            }

            &.face--4 {
                -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(120px);
                -moz-transform: rotateY(180deg) rotateZ(90deg) translateZ(120px);
                -ms-transform: rotateY(180deg) rotateZ(90deg) translateZ(120px);
                transform: rotateY(180deg) rotateZ(90deg) translateZ(120px);
                -o-transform: rotateY(180deg) rotateZ(90deg) translateZ(120px);
            }

            &.face--5 {
                -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(120px);
                -moz-transform: rotateY(-90deg) rotateZ(90deg) translateZ(120px);
                -ms-transform: rotateY(-90deg) rotateZ(90deg) translateZ(120px);
                transform: rotateY(-90deg) rotateZ(90deg) translateZ(120px);
                -o-transform: rotateY(-90deg) rotateZ(90deg) translateZ(120px);
            }

            &.face--6 {
                -webkit-transform: rotateX(-90deg) translateZ(120px);
                -moz-transform: rotateX(-90deg) translateZ(120px);
                -ms-transform: rotateX(-90deg) translateZ(120px);
                transform: rotateX(-90deg) translateZ(120px);
                -o-transform: rotateX(-90deg) translateZ(120px);
            }
        }
    }
}