<div class="stage">
    <div class="cubespinner">
        <div class="face face--1">
            <i class="devicon-angularjs-plain colored"></i>
        </div>
        <div class="face face--2">
            <i class="devicon-react-original-wordmark colored"></i>
        </div>
        <div class="face face--3">
            <i class="devicon-d3js-plain colored"></i>
        </div>
        <div class="face face--4">
            <i class="devicon-nodejs-plain-wordmark colored"></i>
        </div>
        <div class="face face--5">
            <i class="devicon-html5-plain-wordmark colored"></i>
        </div>
        <div class="face face--6">
            <i class="devicon-sass-original colored"></i>
        </div>
    </div>
</div>