/* You can add global styles to this file, and also import other style files */
@import './assets/scss/navigation-modal.scss';
@import './assets/scss/icon-btn.scss';
@import '../node_modules/animate.css/animate.min.css';
@import '../node_modules/devicon/devicon.css';
@import '../node_modules/devicon/devicon-colors.css';
@import './app/components/toggle-nav/toggle-nav-active.scss';
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
   // background-color: #231f20 !important;


}

* {
    box-sizing:border-box;
  }
  
  html,body {
    min-height:100%;
    height:100%;
    //background-image:url(http://theartmad.com/wp-content/uploads/Dark-Grey-Texture-Wallpaper-5.jpg);
   // background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/escheresque_ste.png');
    // background-size:cover;
    // background-position:top center;
    font-family:helvetica neue, helvetica, arial, sans-serif;
    font-weight:200;
    &.modal-active {
      overflow: hidden;
    }
  }
  
  * {
  box-sizing:border-box;
}

.page-container {
  margin-left: 80px;
  background-image: url("./assets/img/grain.png");

  .page-title {
    font-family: font-file-82132;
    color: $title-text;
    font-weight: 600;
    font-size: 50px;
    .animated {
      &:hover {
        animation: jackInTheBox 2s;
        -webkit-animation: jackInTheBox 2s;
}
    }

  }
}



