<div class="col" ontouchstart="this.classList.toggle('hover');">
    <div class="container">
        <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
            <div class="inner">
                <p>{{project?.title}}</p>
                <span>{{project?.description}}</span>
            </div>
        </div>
        <div class="back">
            <div class="inner">
                <p *ngFor="let resource of project.resources">{{resource}}</p>
            </div>
        </div>
    </div>
</div>