<div class="page-container page-container--experience">
    <h1 class="page-title">Experience</h1>
    <kb-dev-news-ticker></kb-dev-news-ticker>
    <div class="timeline-container">
        <kb-dev-experience-timeline-sm [experiences]="experiences" *ngIf="isHandsetLayout"></kb-dev-experience-timeline-sm>
        <kb-dev-experience-timeline  [experiences]="experiences" *ngIf="!isHandsetLayout"></kb-dev-experience-timeline>
    </div>
</div>